*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 15px;
}

.img01 img{
    height: 200px;
    width: 100%;
}

.img02 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border: 5px solid rgb(202, 139, 201);
    border-radius: 50%;
    margin-top: -80px;
}
.h2{
    text-align: center;
}

.main h2{
    text-align: center;
}

.main h5{
    text-align: center;
}

.main{
    padding: 10px;
}

.card-wrapper{
    background: linear-gradient(rgb(154, 73, 157));
    


}