.profile-banner {
    background:linear-gradient(90deg, rgba(215, 98, 219, 1) 0%, rgba(255, 114, 93, 1) 100%); /*#fcb9e8*/
    position: relative;
    border-bottom-left-radius: 100% 20rem; 
    border-bottom-right-radius: 100% 20rem; 
    height: 20rem;
}

